{% extends 'base.html' %}

{% block title %}404 Not Found{% endblock %}
{% block head %}
<script>
  function goBack() {
    window.history.back();
  }
</script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/error-page.css') }}">
{% endblock %}
{% block content %}
<div class="http-error flex column evenly">
  <h1>500 Server Error</h1>
  <p class="text-center">Sorry, an internal server error occured</p>
  <button onclick="goBack()" class="btn btn-previous center ">Previous</button>
</div>
{% endblock %}