<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css') }}">
  {% block head %}{% endblock %}
</head>

<body>
  <nav>
    {% if username %}
    <span class="welcome-msg">Welcome {{ username }}</span>
    {% endif %}
    <a href="{{ url_for('movies.home_movies') }}">Home</a>
    {% if not username %}
    <a href="{{ url_for('auth.login') }}">Login</a>
    <a href="{{ url_for('auth.register') }}">Register</a>
    {% else %}
    <a href="{{ url_for('auth.logout') }}">Logout</a>
    <a href="{{ url_for('profile.profile') }}">Profile</a>
    {% endif %}
  </nav>

  <div class="content">
    {% block content %}{% endblock %}
  </div>
</body>

</html>