{% extends 'base.html' %}

{% block title %}Movies list{% endblock %}
{% block head %}
<script>
  const add_to_fav_base_url = "{{ url_for('favorites.add_movie') }}";
  const remove_from_fav_base_url = "{{ url_for('favorites.remove_movie') }}";

  const add_to_watchlist_base_url = "{{ url_for('watchlist.add_movie') }}";
  const remove_from_watchlist_base_url = "{{ url_for('watchlist.remove_movie') }}";

  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll('.movie-card__details-btn').forEach(button => {
      button.addEventListener('click', () => {
        const movieId = +button.getAttribute("data-movie-id");
        console.log(movieId);
        window.location.href = `{{ url_for('movies.movie_detail', movie_id=0) }}`.replace('0', movieId);
      });
    });

    document.querySelectorAll(".movie-card__rating").forEach(rating => {
      const ratingValue = Math.ceil(+rating.innerHTML / 2);
      const star = "&#9733"; // &#9733 is the star
      rating.innerHTML = "";
      for (let i = 0; i < 5; i++) {
        rating.innerHTML += i <= ratingValue ? star : "&#9734"; // &#9734 is the star outline
      }
    });
  });


</script>
<script src="{{ url_for('static', filename='scripts/favorites.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/watchlist.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/movie_card.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/genre.css') }}">
{% endblock %}

{% block content %}
<h1>Liste des films</h1>
<form action="{{ url_for('movies.home_movies') }}" method="GET">
  <label>Sélectionnez des tags :</label><br>
  {% for tag in available_tags %}
  <input type="checkbox" name="tags" value="{{ tag }}" {% if selected_tags !=None %} {% if tag in selected_tags %}
    checked {% endif %}{% endif %}>
  {{ tag }}<br>
  {% endfor %}
  <br>
  <label>Note minimale :</label>
  <input type="number" name="min_rating" min="0" max="10" value="{{ min_rating }}">
  <input type="submit" value="Filtrer">
</form>
<div class="movie-grid">
  {% for movie in movies %}
  <div class="movie-card">
    <img class="movie-card__image" src="{{movie.poster_url}}" alt="{{movie.title}} poster">
    <h2 class="movie-card__title">{{ movie.title }}</h2>
    <div class="movie-card__infos_container">
      <p class="movie-card__date">{{ movie.release_date.year }}</p>
      <p class="movie-card__rating">{{ movie.vote_average }}</p>
    </div>
    {% include 'components/favorites_component.html' %}
    {% include 'components/watchlist_component.html' %}

    <button class="btn movie-card__details-btn" data-movie-id="{{ movie.id }}">Details</button>

    <div class="genre-tags">
      {% for genre in movie.genre %}
      <span class="genre-label genre-{{ genre|lower|replace(' ', '_') }}">{{genre}}</span>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
<div>
  <p>Page {{ page }} / {{ total_pages }}</p>
  {% if page > 1 %}
  <a href="{{ url_for('movies.home_movies', page=1, tags=selected_tags, min_rating=min_rating) }}">Début</a>
  <a href="{{ url_for('movies.home_movies', page=page-1, tags=selected_tags, min_rating=min_rating) }}">Précédent</a>
  {% endif %}
  {% if page < total_pages %} <a
    href="{{ url_for('movies.home_movies', page=page+1, tags=selected_tags, min_rating=min_rating) }}">
    Suivant
    </a>
    <a href="{{ url_for('movies.home_movies', page=total_pages, tags=selected_tags, min_rating=min_rating) }}">Fin</a>
    {% endif %}
</div>
{% endblock %}