{% extends 'base.html' %}

{% block title %}Movies list{% endblock %}
{% block head %}
<script>
  const add_to_fav_base_url = "{{ url_for('favorites.add_movie') }}";
  const remove_from_fav_base_url = "{{ url_for('favorites.remove_movie') }}";

  const add_to_watchlist_base_url = "{{ url_for('watchlist.add_movie') }}";
  const remove_from_watchlist_base_url = "{{ url_for('watchlist.remove_movie') }}";

  document.addEventListener("DOMContentLoaded", function () {
    // Add event listeners to all movie details buttons
    document.querySelectorAll('.movie-card__details-btn').forEach(button => {
      button.addEventListener('click', () => {
        const movieId = +button.getAttribute("data-movie-id");
        window.location.href = `{{ url_for('movies.movie_detail', movie_id=0) }}`.replace('0', movieId);
      });
    });

    const starFull = "&#9733";
    const starOutline = "&#9734";

    // Add event listener to filters title
    document.querySelector(".filters-title").addEventListener("click", (event) => {
      event.preventDefault();
      document.querySelector(".filters-section").classList.toggle("hidden");
      document.querySelector(".arrow").classList.toggle("rotate");
    });

    // Convert movies rating values to stars
    document.querySelectorAll(".movie-card__rating").forEach(rating => {
      const ratingValue = Math.floor(+rating.innerHTML) / 2;
      rating.innerHTML = "";
      for (let i = 0; i < 5; i++) {
        rating.innerHTML += i <= ratingValue ? starFull : starOutline;
      }
    });

    // min rating filter input converted to selectable stars
    currentRatingFilter = +document.querySelector("input[type=hidden]").value || 0;
    ratingFilterStars = currentRatingFilter / 2 + 1;
    document.querySelectorAll(".rating-star").forEach(star => {
      if (star.getAttribute("data-rating") <= ratingFilterStars) {
        star.innerHTML = starFull;
      }
    });

    // Add event listeners to all rating stars
    document.querySelectorAll(".rating-star").forEach(star => {
      star.addEventListener("click", (event) => {
        event.preventDefault();
        const rating = star.getAttribute("data-rating");
        document.querySelectorAll(".rating-star").forEach(star => {
          star.getAttribute("data-rating") <= rating
            ? star.innerHTML = starFull
            : star.innerHTML = starOutline;
        });
        document.querySelector("input[type=hidden]").value = (rating * 2) - 2;
      });
    });
  });


</script>
<script src="{{ url_for('static', filename='scripts/favorites.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/watchlist.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/movie_card.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/genre.css') }}">
{% endblock %}

{% block content %}
<main>
  <h1>Movie Picker</h1>
  <form class="filter-form" action="{{ url_for('movies.home_movies') }}" method="GET">
    <h2 class="filters-title">Filters <a href="" class="arrow"><i class="fa-solid fa-caret-right"></i></a></h2>
    <section class="filters-section hidden">
      <p>Select tag(s)</p>
      <div class="tags-filter-container">
        {% for tag in available_tags %}
        <div class="tag-filter-container">
          <input type="checkbox" name="tags" value="{{ tag }}" {% if selected_tags !=None %} {% if tag in selected_tags
            %} checked {% endif %}{% endif %}>
          <label for="{{ tag }}">{{ tag }}</label><br>
        </div>
        {% endfor %}
      </div>
      <br>
      <label>Minimum rating</label><br>
      <input type="hidden" name="min_rating" value="{{ min_rating }}">
      <div class="rating-stars">
        <a href="" data-rating="1" class="rating-star">&#9734;</a>
        <a href="" data-rating="2" class="rating-star">&#9734;</a>
        <a href="" data-rating="3" class="rating-star">&#9734;</a>
        <a href="" data-rating="4" class="rating-star">&#9734;</a>
        <a href="" data-rating="5" class="rating-star">&#9734;</a>
      </div>
      <input type="submit" value="Filter" class="btn btn-submit">
    </section>
  </form>
  <div class="movie-grid">
    {% for movie in movies %}
    <div class="movie-card">
      <img class="movie-card__image" src="{{movie.poster_url}}" alt="{{movie.title}} poster">
      <div class="movie-card__content">
        <h2 class="movie-card__title">{{ movie.title }}</h2>
        <div class="movie-card__infos_container">
          <p class="movie-card__date">{{ movie.release_date.year }}</p>
          <p class="movie-card__rating">{{ movie.vote_average }}</p>
        </div>
        <div class="movie-card__buttons">
          {% include 'components/favorites_component.html' %}
          {% include 'components/watchlist_component.html' %}

          <button class="btn movie-card__details-btn" title="Go to movie details" aria-label="Go to movie details"
            data-movie-id="{{ movie.id }}"><i class="fa-solid fa-circle-info"></i></button>
        </div>

        <div class="genre-tags">
          {% for genre in movie.genre %}
          <span class="genre-label genre-{{ genre|lower|replace(' ', '_') }}">{{genre}}</span>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div>
    <p>Page {{ page }} / {{ total_pages }}</p>
    {% if page > 1 %}
    <a href="{{ url_for('movies.home_movies', page=1, tags=selected_tags, min_rating=min_rating) }}">Début</a>
    <a href="{{ url_for('movies.home_movies', page=page-1, tags=selected_tags, min_rating=min_rating) }}">Précédent</a>
    {% endif %}
    {% if page < total_pages %} <a
      href="{{ url_for('movies.home_movies', page=page+1, tags=selected_tags, min_rating=min_rating) }}">
      Suivant
      </a>
      <a href="{{ url_for('movies.home_movies', page=total_pages, tags=selected_tags, min_rating=min_rating) }}">Fin</a>
      {% endif %}
  </div>
</main>
{% endblock %}