{% extends 'base.html' %}

{% block title %}Movie Details{% endblock %}
{% block head %}
<script>
  const add_to_fav_base_url = "{{ url_for('favorites.add_movie') }}";
  const remove_from_fav_base_url = "{{ url_for('favorites.remove_movie') }}";
  const add_to_watchlist_base_url = "{{ url_for('watchlist.add_movie') }}";
  const remove_from_watchlist_base_url = "{{ url_for('watchlist.remove_movie') }}";

  function goBack() {
    window.history.back();
  }
</script>
<script src="{{ url_for('static', filename='scripts/favorites.js') }}" defer></script>
<script src="{{ url_for('static', filename='scripts/watchlist.js') }}" defer></script>
{% endblock %}
{% block content %}
<img src="{{movie.poster_url}}" alt="{{movie.title}} poster" style="height: 150px;">
<h1>{{movie.title}}</h1>
<p>{{movie.original_language}}</p>
<p>{{movie.summary}}</p>
<p>{{movie.release_date}}</p>
<p>{{", ".join(movie.genre)}}</p>
<p>{{movie.vote_average}}</p>
{% include 'components/favorites_component.html' %}
{% include 'components/watchlist_component.html' %}


<button onclick="goBack()">Previous</button>

{% endblock %}