{% extends 'base.html' %}
{% block title %}Movie Details{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/details.css') }}">
<script src="{{ url_for('static', filename='scripts/stars.js') }}"></script>
<script>
  const add_to_fav_base_url = "{{ url_for('favorites.add_movie') }}";
  const remove_from_fav_base_url = "{{ url_for('favorites.remove_movie') }}";
  const add_to_watchlist_base_url = "{{ url_for('watchlist.add_movie') }}";
  const remove_from_watchlist_base_url = "{{ url_for('watchlist.remove_movie') }}";

  function goBack() {
    window.history.back();
  }

  document.addEventListener("DOMContentLoaded", () => {
    const rating = document.querySelector(".movie-details__stars");
    convertRatingToStars(rating);
  });
</script>
<script src="{{ url_for('static', filename='scripts/favorites.js') }}" defer></script>
<script src="{{ url_for('static', filename='scripts/watchlist.js') }}" defer></script>
{% endblock %}
{% block content %}
<main class="movie-details__page-layout">
  <div class="movie-details__container">
    <div class="image-container">
      <img src="{{movie.poster_url}}" alt="{{movie.title}} poster" class="movie-details__poster">
    </div>
    <section>
      <div>
        <header>
          <div>
            {% include 'components/favorites_component.html' %}
            {% include 'components/watchlist_component.html' %}
          </div>
          <span class="movie-details__stars">{{movie.vote_average}}
          </span>
        </header>
        <h1 class="movie-details__title">{{movie.title}}</h1>
      </div>
      <div>
        <p>{{ movie.release_date.year }} - {{", ".join(movie.genre)}}</p>
        <p>{{movie.summary}}</p>
      </div>
    </section>
  </div>
  <button onclick="goBack()" class="btn btn-previous">Previous</button>
</main>



{% endblock %}