{% extends 'base.html' %}

{% block title %}Register{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/form.css') }}">

<script src="/static/scripts/register.js"></script>
{% endblock %}

{% block content %}
<div class="register-datas" data-errors="{{ errors }}" style="display: none;"></div>
<h1>Register</h1>

{% set fields = [{
'field_name': 'username',
'label': 'Username',
'input_type': 'text',
'is_required': true
},
{
'field_name': 'password',
'label': 'Password',
'input_type': 'password',
'is_required': true
},
{
'field_name': 'password2',
'label': 'Confirm password',
'input_type': 'password',
'is_required': true
}] %}
{% set submit_button_text = "Register" %}
{% set method = "POST" %}
{% set action = url_for('auth.register') %}
{% set error_message = "This username is already taken" %}

<div class="form-box">
  {% include "components/form.html" %}
</div>
{% endblock %}