{% extends 'base.html' %}

{% block title %}Register{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/form.css') }}">

<script>
  document.addEventListener("DOMContentLoaded", function () {
    try {
      console.log("{{ errors }}");
      form_errors = JSON.parse("{{ errors }}");
      console.log(form_errors);
      for (const [key, value] of Object.entries(form_errors)) {
        const errorField = document.getElementById(key + '_errors');
        errorField.textContent = value.join(' ');
      }
    } catch { }


    const passwordField = document.getElementById('password');
    const password2Field = document.getElementById('password2');

    const errorField = document.getElementById('error-field');

    function checkPasswords() {
      const password = passwordField.value;
      const password2 = password2Field.value;

      if (password === password2 || password2 === '') {
        errorField.textContent = '';
      } else {
        errorField.textContent = 'Les mots de passe ne correspondent pas';
      }
    }

    passwordField.addEventListener('input', checkPasswords);
    password2Field.addEventListener('input', checkPasswords);


  });
</script>
{% endblock %}

{% block content %}

<h1>Register</h1>

{% set fields = [{
'field_name': 'username',
'label': 'Username',
'input_type': 'text',
'is_required': true
},
{
'field_name': 'password',
'label': 'Password',
'input_type': 'password',
'is_required': true
},
{
'field_name': 'password2',
'label': 'Confirm password',
'input_type': 'password',
'is_required': true
}] %}
{% set submit_button_text = "Register" %}
{% set method = "POST" %}
{% set action = url_for('auth.register') %}
{% set error_message = "This username is already taken" %}

<div class="form-box">
  {% include "components/form.html" %}
</div>
{% endblock %}