<form method="{{ method }}" action="{{ action }}">
  {{ form.hidden_tag() }}
  {% for field in fields %}
  <div class="user-box">
    <input type="{{ field.input_type }}" class="form-control" id="{{ field.field_name }}" name="{{ field.field_name }}"
      {% if field.is_required %}required{% endif %}>
    <label for="{{ field.field_name }}">{{ field.label }}</label>
    {% if errors and errors[field.field_name] %}
    <p id="{{ field.field_name }}_errors" class="field-error text-danger">
      {{ ", ".join(errors[field.field_name]) }}
    </p>
    {% endif %}
  </div>
  {% endfor %}
  {% if error %}
  <p class="text-center text-danger mgt-0" role="alert">
    {{ error_message }}
  </p>
  {% endif %}
  <button type="submit" class="btn btn-submit">{{ submit_button_text }}</button>
</form>