<div class="watchlist-datas" data-add-url="{{ url_for('watchlist.add_movie') }}"
  data-remove-url="{{ url_for('watchlist.remove_movie') }}" style="display: none;"></div>
{% if username %}
{% if movie.id in watchlist_movie_ids %}
<a href="" class="btn remove remove-watchlist" title="remove movie from watchlist"
  aria-label="remove movie from watchlist" data-movie-id="{{ movie.id }}"><i class="fa-solid fa-eye"></i></a>
{% else %}
<a href="" class="btn add add-watchlist" title="Add movie to watchlist" aria-label="Add movie to watchlist"
  data-movie-id="{{ movie.id }}"><i class="fa-regular fa-eye"></i></a>
{% endif %}
{% endif %}